<HTML>
<body>

    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Type message...">
            <input type="text" name="tag" placeholder="Type tag...">
            <button type="submit">Add</button>
        </form>
    </div>

    <form method="post" action="filter">
        <input type="text" name="text" placeholder="Type tag to search">
        <button type="submit">Search</button>
    </form>

    <div> List of messages:</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <b>{{tag}}</b>
    </div>
    {{/messages}}
<body>
<HTML>